.wrapper {
  padding: var(--padding-top) var(--padding-lr);
}

.inner:nth-child(2) {
  display: none;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .inner:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
  }

  .section {
    width: calc(50% - 12px);
    display: flex;
  }

  .sectionTop {
    display: flex;
    gap: 14px;
    width: 100%;
  }

  .sectionBottom {
    display: grid;
    grid-template-columns: minmax(73px, 1fr) minmax(73px, 1fr) minmax(73px, 1fr);
    gap: 14px;
    margin-left: 133px;
  }

  .itemBottom {
    margin-top: auto;
    vertical-align: bottom;
  }
}