.wrapper {
  display: flex;
  flex-direction: column;
}

.section {
  padding: var(--padding-top) var(--padding-lr);
  text-align: center;
}

.sectionA {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 24px;
  background: rgba(42, 72, 107, 1);
}

.sectionB {
  background: rgba(32, 59, 90, 1);
}

.sectionC {
  background: rgba(24, 48, 76, 1);
}

.logo {
  max-width: 90px;
  max-height: 15px;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

@media screen and (min-width:768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section {
    text-align: inherit;
  }

  .sectionA {
    flex-direction: column;
  }
  .listA {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .logo {
    max-width: 160px;
    max-height: 26px;
  }
}