.wrapper {
  display: flex;
  flex-direction: column;

  padding: var(--padding-top) var(--padding-lr);
}

.inner {}

.logo {
  max-width: 90px;
  max-height: 15px;
}

@media screen and (min-width:768px) {
  .logo {
    max-width: 160px;
    max-height: 26px;
  }
}