.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    grid-template-areas:
        "a a"
        "b b"
        "c e"
        "d f"
        "g h"
        "i j"
        "k l"
        "m n";
}

.head {
    grid-area: a;
}

.title {
    color: #BBA390;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 10%;
    font-family: "Futura PT", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.text {
    color: #91A4B8;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
        grid-template-areas:
            "a b"
            "c b"
            "c d"
            "e d"
            "e f"
            "g f"
            "g h";
        padding: 48px 0;
        justify-content: space-between;
    }

    .title {
        font-size: 46px;
        text-align: left;
        padding-top: 48px;
        margin-bottom: 48px;
    }

    .text {
        color: #8CAAC8;
        font-size: 16px;
        line-height: 32px;
        text-align: left;
        margin-bottom: 96px;
    }
}