.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    grid-template-areas:
        "a a"
        "b b"
        "c d"
        "e d"
        "e f"
        "g f";
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
        grid-template-areas:
            "a b"
            "c b"
            "c d"
            "e d"
            "e f"
            "g f"
            "g h";
        padding: 48px 0;
        justify-content: space-between;
    }
}