@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nmme7w');
  src:  url('fonts/icomoon.eot?nmme7w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nmme7w') format('truetype'),
    url('fonts/icomoon.woff?nmme7w') format('woff'),
    url('fonts/icomoon.svg?nmme7w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e906";
}
.icon-add_shopping_cart:before {
  content: "\e921";
}
.icon-discout:before {
  content: "\e920";
}
.icon-burger:before {
  content: "\e900";
}
.icon-up-right:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-closes:before {
  content: "\e903";
}
.icon-down:before {
  content: "\e904";
}
.icon-elips:before {
  content: "\e908";
}
.icon-eye:before {
  content: "\e909";
  color: #d0d0d0;
}
.icon-gift:before {
  content: "\e90a";
}
.icon-instagram:before {
  content: "\e90b";
}
.icon-lefts:before {
  content: "\e90c";
}
.icon-left1:before {
  content: "\e90d";
}
.icon-liked:before {
  content: "\e90e";
}
.icon-likes:before {
  content: "\e90f";
}
.icon-link:before {
  content: "\e910";
}
.icon-minus:before {
  content: "\e911";
}
.icon-pen:before {
  content: "\e912";
}
.icon-play:before {
  content: "\e913";
}
.icon-plus:before {
  content: "\e914";
}
.icon-reload:before {
  content: "\e915";
}
.icon-rights:before {
  content: "\e916";
}
.icon-right1:before {
  content: "\e917";
}
.icon-save:before {
  content: "\e918";
}
.icon-saved:before {
  content: "\e919";
}
.icon-share:before {
  content: "\e91a";
}
.icon-telegram:before {
  content: "\e91b";
}
.icon-up:before {
  content: "\e91c";
}
.icon-vk:before {
  content: "\e91d";
}
.icon-WhatsApp:before {
  content: "\e91e";
}
.icon-close:before {
  content: "\e91f";
}
.icon-left:before {
  content: "\e905";
}
.icon-right:before {
  content: "\e907";
}
.icon-u_attach:before {
  content: "\e922";
}
